.header-bar {
    width:100%;
    height:60px;
    background-color:black;
    float:left;
    box-shadow: 1px 5px 5px 3px rgb(212, 209, 209);
}

* {
    padding:0;
    margin:0;
}

.logo {
    width:30%;
    height:100%;
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    height:80%;
}

.page-nav {
    width:70%;
    height:100%;
    float:left;
    
}

.nav-buttons {
    width:100%;
    height:100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-buttons li {
    color:white;
    display:inline-block;
    padding-left:100px;
    padding-right: 45px;
}

.nav-buttons a {
    color:white;
    text-decoration: none;
}

.nav-buttons a:hover {
    display:block;
    opacity: 0.5;
    border-bottom: 1px solid white;
    transition: 0.5s;
}